<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="com.zzzmode.appopsx">

  <uses-permission android:name="android.permission.ACCESS_SUPERUSER"/>

  <application
    android:allowBackup="true"
    android:icon="@mipmap/app_icon"
    android:label="@string/app_name"
    android:name=".ui.core.AppGlobal"
    android:roundIcon="@mipmap/app_icon"
    android:supportsRtl="true"
    android:theme="@style/AppTheme">
    <activity
      android:configChanges="keyboardHidden|orientation"
      android:name=".ui.main.MainActivity">
      <intent-filter>
        <action android:name="android.intent.action.MAIN"/>
        <category android:name="android.intent.category.LAUNCHER"/>
      </intent-filter>
    </activity>
    <activity
      android:configChanges="keyboardHidden|orientation"
      android:exported="true"
      android:name=".ui.permission.AppPermissionActivity">
      <intent-filter>
        <!-- e.g. appops://details?id=com.zzzmode.appopsx -->
        <action android:name="android.intent.action.VIEW"/>
        <category android:name="android.intent.category.DEFAULT"/>
        <data
          android:host="details"
          android:scheme="appops"
          />
      </intent-filter>
    </activity>


    <activity
      android:configChanges="keyboardHidden|orientation"
      android:name=".ui.main.SettingsActivity"
      android:theme="@style/SettingsTheme"/>
    <activity
      android:configChanges="keyboardHidden|orientation"
      android:name=".ui.main.group.PermissionGroupActivity"/>
    <activity
      android:excludeFromRecents="true"
      android:exported="true"
      android:name=".ui.permission.AlertInstalledPremActivity"
      android:noHistory="true"
      android:taskAffinity="com.zzzmode.appopsx.task.alert"
      android:theme="@style/alert.perm"
      />
    <activity android:name=".ui.main.backup.BackupActivity"/>
    <activity android:name=".ui.main.HtmlActionActivity"/>
    <activity android:name=".ui.main.usagestats.PermsUsageStatsActivity"/>

    <receiver
      android:enabled="true"
      android:name=".ui.core.AppInstalledRevicer">
      <intent-filter>
        <action android:name="android.intent.action.PACKAGE_INSTALL"/>
        <action android:name="android.intent.action.PACKAGE_ADDED"/>

        <data android:scheme="package"/>
      </intent-filter>
    </receiver>

  </application>

</manifest>